pandas
openpyxl
pyarrow
yt-dlp
SpeechRecognition
pydub
dask
openai-whisper
whisper
pytube
vosk
time
concurrent.futures
os
re
wave
json
subprocess
transformers
librosa
deepgram-sdk
deepspeech
sentencepiece
torch
tensorflow